.row {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  height: 120px;
  line-height: 120px;
  background-color: white;
  position: relative;
  box-shadow: 0 4px 3px #d2d2d2;
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-logo {
  height: 60%;
}

.debug {
  border: dashed 2px tomato;
}
