/* COLORS
Orange: #FFBC42
Pink: #D81159
Purple: #8F2D56
Green: #218380
Main Dark Grey: #383a3f
*/

/* -------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------- */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

.line-separator {
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(white),
    to(white),
    color-stop(50%, #383a3f)
  );
}
/* --------------- COLORS --------------- */
.udacity-bkg {
  background-color: #d81159 !important;
}

.redux-bkg {
  background-color: #ffbc42 !important;
}

.all-bkg {
  background-color: #8f2d56 !important;
}

.react-bkg {
  background-color: #218380 !important;
}

.udacity-color {
  color: #d81159 !important;
}

.redux-color {
  color: #ffbc42 !important;
}

.all-color {
  color: #8f2d56 !important;
}

.react-color {
  color: #218380 !important;
}

/* --------------- POSTS HEADER --------------- */

.posts-title {
  text-align: center;
  display: inline-block;
}

.posts-categories {
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 80%;
  font-weight: 400;
  text-transform: uppercase;
  transition: background-color 0.5s color 0.5s border 0.5s;
}

.btn-categories {
  background-color: #383a3f;
  box-shadow: 0 2px 2px #d2d2d2;
  color: #fff;
}

.btn-categories:hover,
.btn-categories:active {
  cursor: pointer;
  color: #383a3f;
}

.posts-filter {
  float: right;
}

.posts-filter-dropdown {
  float: left;
  margin-right: 20px;
}

/* --------------- CATEGORIES --------------- */

.section-categories-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  transition: visibility 0.5s, opacity 0.25s;
}

.section-categories-overlay-hide {
  visibility: hidden;
  opacity: 0;
}

.section-categories-overlay-show {
  visibility: visible;
  opacity: 1;
}

.categories-showcase {
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: black;
}

.categories-showcase-item {
  display: block;
  width: 100%;
  height: 25%;
}

.category-photo-title {
  z-index: 100;
  position: absolute;
  color: #383a3f;
  font-size: 200%;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 5px;
  max-height: 48%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.5s;
  text-transform: capitalize;
}

.category-photo {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.category-photo img {
  opacity: 0.5;
  width: auto;
  height: 100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.category-photo:hover {
  opacity: 1;
}

.category-photo:hover img {
  transform: scale(1.03);
  opacity: 1;
}

.category-photo:hover img + .category-photo-title {
  color: #fff;
}

/* --------------- POST --------------- */

.post {
  position: relative;
  box-shadow: 0 2px 2px #d2d2d2;
  height: 300px;
  background: #fff;
  margin: 20px auto;
  transition: transform 0.2s;
}

.post:hover {
  box-shadow: 0 8px 6px #d2d2d2;
  cursor: pointer;
  transform: scale(1.01);
}

.post-title {
  margin: 20px auto 0 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
  font-weight: 500;
}

.post-tag {
  position: absolute;
  background-color: #383a3f;
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

.post-tag-icon {
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 50%;
  height: 40px;
  width: auto;
}

.post-icons {
  position: absolute;
  font-size: 130%;
}

.post-edit-icon {
  right: 60px;
  top: 10px;
}

.post-close-icon {
  right: 20px;
  top: 4px;
  font-size: 200%;
  color: #383a3f;
}

.post-icons:hover {
  color: #a8a8a8 !important;
  cursor: pointer;
}

.post-body {
  margin: 10px auto;
  padding: 0 10px;
  font-size: 80%;
  font-weight: 300;
  text-align: start;
  overflow: hidden;
  letter-spacing: 2px;
  word-spacing: 5px;
  height: 48%;
  text-overflow: ellipsis;
  text-align: justify;
}

.post-category-react-tag {
  border-radius: 20px;
  background-color: #8f2d56;
  color: #fff;
  padding: 5px 0;
  margin: 0 30px;
  font-weight: 700;
}

.post-footer {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 60%;
  font-weight: 700;
  margin: 5px;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  text-align: center;
}

.post-rating-info {
  max-width: 150px;
  position: absolute;
  left: 20px;
  bottom: 5px;
  margin: 5px;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  text-align: center;
}

.post-comments {
  letter-spacing: 0.5px;
  word-spacing: 4px;
  font-size: 60%;
  font-weight: 700;
  margin: 5px;
}

.post-rating-value {
  display: inline-block;
  margin: 0 20px;
}

.post-rating-icons {
  display: inline-block;
}

.post-rating-icons:hover {
  color: #a8a8a8 !important;
  cursor: pointer;
}

.add-post-button {
  position: fixed;
  right: 5%;
  bottom: 5%;
  font-size: 200%;
  height: 50px;
  width: 50px;
  background-color: #383a3f;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 3px #d2d2d2;
  transition: transform 0.1s;
}

.add-post-button:hover {
  box-shadow: 0 8px 3px #d2d2d2;
  transform: scale(1.1);
}

.back-button {
  position: fixed;
  left: 5%;
  bottom: 5%;
  font-size: 200%;
  font-weight: 700;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 3px #d2d2d2;
  transition: transform 0.1s;
}

.back-button:hover {
  box-shadow: 0 8px 3px #d2d2d2;
  transform: scale(1.1);
}

/* --------------- POST DETAIL --------------- */

.post-detail {
  position: relative;
  box-shadow: 0 2px 2px #d2d2d2;
  min-height: 300px;
  background: #fff;
  margin: 50px auto 0 auto;
}

.post-detail-title {
  margin: 20px auto 0 auto;
  text-align: center;
  white-space: normal;
  width: 70%;
  font-weight: 500;
}

.post-detail-body {
  margin: 10px auto 10px auto;
  padding: 0 10px 50px 10px;
  font-size: 80%;
  font-weight: 300;
  text-align: start;
  letter-spacing: 2px;
  word-spacing: 5px;
  min-height: 48%;
  text-align: justify;
}

/* --------------- COMMENT --------------- */

.comment {
  position: relative;
  min-height: 150px;
  border-left: solid 3px #383a3f;
  background: #fff;
  margin: 0 auto 10px auto;
}

.comment-rating {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.comment-body {
  padding: 10px 10px 10px 50px;
  min-height: 150px;
}

.comment-body p {
  font-size: 70%;
  font-weight: 300;
  text-align: start;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: justify;
  padding-right: 20px;
}

.comment-title {
  font-weight: 400 !important;
  font-size: 80% !important;
  margin-bottom: 5px;
}

.comment-data {
  font-weight: 700 !important;
  font-size: 50% !important;
  margin-bottom: 15px;
  letter-spacing: 1px !important;
  word-spacing: 0 !important;
}

.comment-message {
  margin-bottom: 10px;
  min-height: 50px;
}

.comment-body a {
  font-size: 60%;
  font-weight: 300;
  margin: 0 10px 0 0;
  text-align: start;
  letter-spacing: 2px;
  color: #a8a8a8;
  text-decoration: none;
}

.comment-body a:hover {
  border-bottom: solid 2px #a8a8a8;
  cursor: pointer;
}

.comment i:hover {
  color: #a8a8a8 !important;
  cursor: pointer !important;
}

/* ----------------- HEADINGS ----------------- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #44464b;
}

h1 {
  font-size: 240%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 100%;
}

/* -------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------- */

header {
  height: 120px;
  line-height: 120px;
  background-color: white;
  position: relative;
  box-shadow: 0 4px 3px #d2d2d2;
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
}

/* -------------------------------------------------- */
/* MODAL */
/* -------------------------------------------------- */

.modal {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  border-radius: 10px;
  background-color: #fff;
  color: #383a3f;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000b4;
}

.modal p {
  font-size: 120%;
  font-weight: 400;
  text-align: start;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: justify;
  padding: 20px;
}

.modal p:after {
  display: block;
  height: 1px;
  background-color: #383a3f;
  opacity: 0.3;
  margin: 20px 0;
  content: "";
}

input {
  display: block;
  margin: 0 auto 20px auto;
  float: none;
  padding: 3px;
  border-radius: 3px;
  width: 90%;
  border: 1px solid #383a3f;
}

input[type="text"] {
  font-size: 80%;
  font-weight: 400;
  color: #383a3f;
}

textarea {
  display: block;
  margin: 0 auto 20px auto;
  float: none;
  padding: 3px;
  border-radius: 3px;
  width: 90%;
  resize: none;
  overflow: auto;
  border: 1px solid #383a3f;
}

textarea[type="text"] {
  font-size: 80%;
  font-weight: 400;
  color: #383a3f;
}

.category-dropdown {
  display: block;
  margin-right: 5%;
  margin-bottom: 20px;
  float: right;
  text-align: left;
  font-size: 90%;
  font-weight: 700;
  color: #383a3f;
  border-radius: 3px;
  width: 25%;
}

.category-selected {
  display: block;
  margin-right: 5%;
  margin-bottom: 20px;
  float: right;
  text-align: left;
  font-size: 90%;
  font-weight: 400;
  color: #383a3f;
  text-transform: capitalize;
}

.modal .btn {
  float: right;
}

.add {
  margin: 5px;
  background-color: #383a3f;
  border: none;
  box-shadow: 0 2px 2px #d2d2d2;
  color: #fff;
}

.cancel {
  margin: 5px;
  border: none;
  background-color: #e2e2e2;
  box-shadow: 0 2px 2px #d2d2d2;
}

.add:hover,
.add:active {
  cursor: pointer;
  background-color: #000;
}

.cancel:hover,
.cancel:active {
  cursor: pointer;
  background-color: #afafaf;
}

/* -------------------------------------------------- */
/* ERROR and EMPTY */
/* -------------------------------------------------- */

.error-container {
  text-align: center;
}

.error {
  margin: 20px auto;
  font-size: 300%;
  color: #d81159;
}

.error-message {
  margin: 0 auto;
  font-weight: 400;
  color: #383a3f;
}

.spinner {
  margin: 50px auto;
}

.empty-state-container {
  text-align: center;
}

.empty-state-message {
  margin: 50px auto;
  font-weight: 400;
  color: #383a3f;
}
/* -------------------------------------------------- */
/* DEBUG */
/* -------------------------------------------------- */

.debug {
  border: dashed 2px tomato;
}
